.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="text"] {
  /* appearance: none; */
  /* border: 3px solid pink; */
  font-size: 1rem;
  padding: 0.5rem;
  width: 50%;
  border-radius: 15px;
  border-color: #fff;
}

input[type="submit"] {
  /* appearance: none; */
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  background: rgb(85, 111, 160);
  color: white;
  border-color: #fff;
  border-radius: 15px;
  margin-left: 1rem
}

.ball-container {
  /* border: solid red; */
  width: 100%;
}

.ball {
  position: relative;
  margin: 5vmin auto;
  height: 55vmin;
  width: 55vmin;
  border-radius: 50%;
  overflow: hidden;
  background: radial-gradient(circle at 30vmin 30vmin, #444, #000);
  /* border: solid blue; */
}

.smaller-white-circle {
  /* border: solid orange;
  color: red; */
  position: relative;
  left: 13vmin;
  top: 13vmin;
  width: 28vmin;
  height: 28vmin;
  border-radius: 50%;
  background: radial-gradient(circle at 10vmin 10vmin, white, grey);
  font-size: 18vmin;
  font-family: sans-serif;
  text-align: center;
  /* line-height: 28vmin; */
  transition: opacity 1s;
  overflow-wrap: break-word;
  
}

.eight {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid pink; */
  color: #000;
  font-family: Eurostile;
  font-weight: bolder;
}

.answer {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 20vmin;
  /* border: solid purple; */
  font-family: Eurostile;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  color: black;
  font-size: 3vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
